.nav {
  background-color: #333;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }

  &__item {
    margin: 0 20px;
  }

  &__link {
    color: white;
    text-decoration: none;

    &--active {
      font-weight: bold;
      border-bottom: 2px solid white;
    }
  }
}